.item {
 /*   position: relative;
    width: 200px;
    height: 300px;*/
}
.item:hover .des {
    height: 100%;
    background: #f973007d;
    position: absolute;
    width: 90%;
    padding: 5em;
    bottom: 0;
    border-bottom-left-radius: 0;
    transition: .3s ease-in-out;
}
.des {
    background: #F97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.text-muted {
    color: #6c757d!important;
}
