.box {
    position: relative;
    width: 270px;
    height: 294px;
}
.box:hover .title {
    height: 100%;
    background: #f973007d;
    position: absolute;
    width: 100%;
    padding: 5em;
    bottom: 0;
    transition: .3s ease-in-out;
    border-bottom-left-radius: 0px;
}
.title {
    background: #F97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 36px;
}
.img {
    max-width: 100%;
    height: auto;
}
.box:hover .job-title {
  text-align: center;
}
.job-title {
    color: #6c757d !important;
}
