html, body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  margin:0px;
  padding:0px;
}

#Top_Bar {
	opacity:1;
	background-color:rgb(223,120,19);
	color:white;
	line-height:80%;
	font-size:1.3em;
	padding-top:2%;
	padding-bottom:0px;
	height:40px;
	position:fixed;
	width:100%;
	z-index: 9
}

.to-left{
  float: left;
}

.to-right{
  float: right;
}

span{
	color:lightgrey;
	padding-right:30px;
}

.Top_Link{
	color:white;
	text-decoration: none;
	padding-top: 100px;
	padding-bottom: 20px;
	padding-right:10px;
	padding-left:10px;
}

.Activated, a:hover {
	color:darkblue;
}

.Button {
  background-color: rgb(223,120,19);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom:25px;
  margin-right:25px;
  margin-top:-4px;
  padding: 5px;
}

.Button:hover{
	color:rgb(223,120,19);
	background-color:white;
}

#Top_Bar:after{
  content: "";
  display: table;
  clear: both;
}

.Text_Container{
	position:absolute;
	top:150px;
	left:150px;

	color:rgb(223,120,19);
}


.Pic_Container{
	position:relative;
	width:100%;
	height:600px;
	background-image: url("images/headerback.jpg");
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
  	background-attachment: fixed;
  	opacity:.5;
}

#Hello_Bar{
	position:relative;
	margin-top:66px;
}

.Pic_Overlay{
	position:absolute;
	opacity:.5;
	width:100%;
	height:100%;
	top:0px;
	left:0;
	background-color:#ffffff;
}

.Button_Hello{
	background-color:rgb(223,120,19);
	color:white;
	border-radius: 10px;
	height:50px;
	width:150px;
	font-size:1.3em;
}

.Button_Hello:hover{
	background-color:darkgrey;
}
.column {
  float: left;
  line-height:30px;
  margin-left:30px;

}

.column_left {
  float: left;
  line-height:30px;
  border-right:3px solid grey;
  height:375px;
  left:0
  padding-right:-20px;
  top:0;
}
.row{
	margin-left:8%;
	margin-right:8%;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.Background_Grey{
	background-color:rgb(234,232,230);
	height:135%;
	width:100%;
	top:700;
	left:0;
	position:absolute;	
}
.Heading{
	position:relative;
	margin-top:100px;
	margin-bottom:70px;
	color:rgb(223,120,19);
	font-size:2.5em;
	text-align:center;
}


.Pic_Faces{
	border-radius:50%;
	width:350px;
	height:350px;
}

.Caption{
	color:rgb(102,97,94);
	text-align:center;
	margin-left: -35px;
}
h2{
	color:rgb(102,97,94);
	font-size:2em;
}

.Background_Grey2{
	background-color:rgb(234,232,230);
	height:2700px;
	width:100%;

	left:0;
	position:absolute;	
	top:800px;
}
img{
	height:250px;
	width:350px;
	margin:10px;
}
.Heading_Next{
	color:rgb(223,120,19);
	font-size:2.5em;
	position:relative;
	text-align:center;
	margin-top:100px;
	margin-bottom:100px;

}

.Container{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}



.Blog_Pic{
	/*float:left;*/
-moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;

display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
/*  width: 300px;
  height: 240px;*/
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin:20px;

}

.Blog_Link{
	color:lightblue;
	font-size:1.1em;
	background-color:silver;
	margin-left:10px;
	height:45px;
	width:350px;
	padding-top:20px;
	padding-left:10px;

}

.Blog_Link_Style{
	color:lightblue;
	text-decoration:none;
}

.Blog_Link:hover{
	color:blue;
}

.Box_Title{
	color:rgb(223,120,19);
	font-size:23px;
	padding-top:10px;
	border:grey 2px;
}

.Blog_Link:hover{
	color:blue;


}

.Box1{
	background:white;
	margin-top:-35px;
	margin-left:10px;
	margin-right:10px;
	width:330px;
	height:120px;
	padding:10px;
}


.img-fluid {
    width:300px;
    height: 300px;
    margin-left:0;
    max-width: 100%;
    height: auto;
}


.box {
    position: relative;
    width: 270px;
    height: 294px;
    margin-left:5px;
    margin-right:5px;
}
.box:hover .title {
    height: 43%;
    background: #f973007d;
    position: absolute;
    width: 41%;
    padding: 5em;
    bottom: 0;
    transition: .3s ease-in-out;
    border-bottom-left-radius: 0px;

}
.title {
    background: #F97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 36px;
}
.img {
    max-width: 100%;
    height: auto;
}
.box:hover .job-title {
  text-align: center;
}
.job-title {
    color: #6c757d !important;
}


.Get_In_Touch{
	display:grid;
	margin-top:-5px;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr 1.5fr .8fr;
	border-top:2px grey width:60%;
}

.item1{
	grid-row: 1 / span 4;
	margin-top:80px;
}

.Get_Info{
	height:50px; 
	width:700px; 
	font-size:20px; 
	color:grey;
	margin-top:5px;
}

.small_icon{
	/*display:block;*/
	margin-left:-5px;
	margin-right:-10px;
	height:40px;
	width:40px;
	border-radius: 50%;
}

.small_icon2{
/*	display:block;*/

	height:40px;
	width:40px;
	margin-right:-10px;
}