<!DOCTYPE html>
<html>
  	<head>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <meta charset="UTF-8">
	    <title>{{name}}, Full Stack Programmer</title>
		<link rel="stylesheet" href="/static/style.css">
  	</head>
	<body>
	 	<div style="background-image: url('/static/background.jpg')" class="jumbotron jumbotron-fluid">
		  <div class="container">
			  <img src="/static/Sharon11.jpg" class="mr-3 pic" alt="...">
			  <h1 class="display-4 name"><a style="color:white; text-decoration:none;" href="{{ url_for('pic_func') }}">Name: {{name}}</a></h1>
			  <p class="lead details">Your company's next loyal employee</p>
			  <p class="lead details_num">Phone: 054-840-2685</p>
			  <p class="lead details_num">Address: {{address}}</p>
		  </div>
		</div>

		<ul class="list-unstyled bod">
		  <li class="media first_item">
			<img style="height:65px; width:75px; margin-left:25px;" src="https://img.icons8.com/officel/50/000000/picture.png" class="mr-3 pic1" alt="...">
			<div class="media-body">
			  <h5 class="mt-0 mb-1">Hobbies</h5>
			  Sharon loves to paint, play piano, exercise, and bake. Teaching full time meanwhile learning how to code, there's not much spare time. However, Sharon somehow finds the time to enjoy her family, listen to music, and keep things relatively clean, and she is very proud of those accomplishments.
				<hr style="height:2px;border-width:0;color:gray;background-color:gray">
			</div>
		  </li>
		  <li class="media my-4">
			<img style="height:65px; width:75px; margin-left:25px;" src="https://img.icons8.com/flat_round/64/000000/communication-skill.png" class="mr-3 pic1" alt="...">
			<div class="media-body">
			  <h5 class="mt-0 mb-1">Skills</h5>
			  Sharon is mastering the art of HTML, CSS, Javascript, and Python. Surely within the next few weeks, she'll pick up on a few more programming skills and languages. Sharon knows how to teach, to boot! She has years of experience teaching English to high school students and Test Prep to more mature humans. There's nothing Sharon loves more than cracking a challenging SAT or Psychometric question!
				<hr style="height:2px;border-width:0;color:gray;background-color:gray">
			</div>
		  </li>
		  <li class="media my-4">
			<img style="height:65px; width:75px; margin-left:25px;" src="https://img.icons8.com/dusk/64/000000/charity.png" class="mr-3" alt="...">
			<div class="media-body">
			  <h5 class="mt-0 mb-1">Strengths</h5>
			  Sharon is conscientious, hardworking, smart, humble, and caring. Sharon is able to negotiate most interpersonal situations well, teaching and sharing her knowledge with others in a way that doesn't put herself front-and-center. Sharon is a problem solver and a logical thinker.
				<hr style="height:2px;border-width:0;color:gray;background-color:gray">
			</div>
		  </li>
		  <li class="media">
			<img style="height:65px; width:75px; margin-left:25px;" src="https://img.icons8.com/cotton/64/000000/inspection.png"class="mr-3" alt="...">
			<div class="media-body">
			  <h5 class="mt-0 mb-1">Weaknesses</h5>
			  A perfectionist. This really IS a true weakness because perfectionism can bring you down. Hopefully with the right perspective and self-care, the negative affects of perfectionism can be minimized.
				<hr style="height:2px;border-width:0;color:gray;background-color:gray">
			</div>
		  </li>
		</ul>
		<div class="container" style="border:3px dotted gray; font-weight:500px; font-style:italic;">
			<h1>Employment:</h1>
			{%for i in range(3)%}
			<div class="card" style="width: 20rem; float:left; margin-top:10px;margin-right:40px">
			  <div class="card-body">
			    <h5 class="card-title">{{empl_name[i]}}</h5>
			    <h6 class="card-subtitle mb-2 text-muted">{{empl_address[i]}}</h6>
			    <p class="card-text">{{text[i]}}</p>
			  </div>
			</div>
			{% endfor %}
			</div>
		</div>

	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>



