{% extends 'base2.html' %}
        {% block content %}
        <div class="container">
            <form action="" method="POST">

  <div class="form-group">
    <label><h1 style="color:white;">Deactivate your communication. Click to confirm:</h1></label><br>
      <div style="align-items:center;">
    <button style="font-size:35px;" name="confirm" type="submit" class="btn btn-primary">Confirm</button>
    <button style="font-size:35px;" name="cancel" type="submit" class="btn btn-primary">Cancel</button>
          </div>
  </div>


</form>
        </div>
        {% endblock content%}
