/*.top_page{
	background-image:url(dead_sea.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	height:700px;
}*/
.top_page{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	height:700px;
}

.row{
	font-size:1em;
}
.nav_set1{
	margin-top:10px;
	font-size:1.1em; 
	color:white;
}
.nav_set{
	margin-top:15px;
}

.push{
	padding-left:20rem;
}
a{
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:10px;
/*	color:white;*/
	flex:1fr;
	flex-grow:1fr;
	flex-shrink:1fr;
	text-transform:uppercase;
}
a:hover{
	text-decoration:none;
	color:blue;
}

.heading{
	display:flex;
	position:relative;
	top:100px;
	flex-wrap:wrap;
	text-align: center;
	justify-content: center;
	align-content: center;
	color:white;
	font-size:90px;
	height:20%;
}
h1{
	width:1000px;
	height:400px;
	padding-left:25%;
	padding-right:25%;
	flex-grow:1fr;
	flex-shrink:1fr;
}
button{
 width:170px;
 height:50px;
 font-size:150px;
}
.button_pair{
	padding-right:20px;
}
.grid-container{
	position:relative;
	top:400px;
	display:grid;
	grid-template-columns: auto auto auto;
	color:darkblue;
	grid-column-gap:60px;
	margin-left:60px;
	margin-right:60px;
	border:2px solid gray;
	padding:15px;
}
.little_icons{
	margin-bottom:40px;
	width:60px;
	height:60px;
}
.grid-item-title{
	font-size:1.3em;
	margin-bottom:20px;
}

.news_pics{
	margin-bottom:40px;
	width:150px;
	height:150px;
}

.grid-item-link{
	font-size:1.1em;
	color:darkblue;
	text-transform:none;
	margin-left:-20px;
}