{% include '/partials/header.html' %}
{% include '/partials/navbar.html' %}
    <div class="container">
        <h1  style="margin-top:30px;">Modify Director <i>{{director.first_name}} {{director.last_name}}</i></h1><hr><br>
        <form action="" method="POST">
            <div>
                {{form.first_name.label}} {{form.first_name}}
            </div>
            <div>
                {{form.last_name.label}} {{form.last_name}}
            </div>

            <div  style="margin-bottom:25px;">
                {{form.submit}}
                </div>
        </form>
    </div>
{% include '/partials/footer.html' %}
