<!DOCTYPE html>
<html>
  	<head>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	    <meta charset="UTF-8">
	    <title>Python: Lesson 1</title>
		<link rel="stylesheet" href="/static/style.css">
		<style>
			#nav_link:hover{
				color:blue;
			}
		</style>
  	</head>
	<body>
	 	<div class="jumbotron jumbotron-fluid">
		  <div class="container">
			  <h1 style="color:black;" class="display-4 name">Day 1 - Starting with Python</h1>
			  <p style="color:black; font-size:25px;	font-weight:200px; padding-top:40px" class="lead details">In this section we'll go over Python's most basic elements: numeric types, strings, variables, booleans and conditional statements.</p>
		  </div>
		</div>
		<div class="container" >
			<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <a style="font-size:25px;color:gray;" class="nav-link active" data-toggle="tab" href="#in_this_chapter" onMouseOver="this.style.color='blue'"
   				onMouseOut="this.style.color='gray'" >In This Chapter</a>
			  </li>
			  <li class="nav-item">
			    <a style="font-size:25px;color:gray;" class="nav-link" data-toggle="tab" href="#exercises" onMouseOver="this.style.color='blue'"
   				onMouseOut="this.style.color='gray'">Exercises</a>
			  </li>
			</ul>
		<div class="tab-content" id="myTabContent">
		  <div class="tab-pane fade show active" id="in_this_chapter" role="tabpanel" aria-labelledby="home-tab"><br><br><h1>Conditions</h1>
<p>Conditional statements are an universal programming paradigm to take certain actions based on data comparison. It’s our way of communicating to the computer, if something is true then perform such action, otherwise perform an other action.</p>
<h6>See the official documentation here</h6>
<h4>Conditions are expressions that compare two elements.</h4>
<p>Python support the following logical conditions:</p>
<ul>
<li>Equals: a == b</li>
<li>Not Equals: a != b</li>
<li>Less than: a &lt; b</li>
<li>Less than or equal to: a &lt;= b</li>
<li>Greater than: a &gt; b</li>
<li>Greater than or equal to: a &gt;= b</li>
</ul></div>
		  <div class="tab-pane fade" id="exercises" role="tabpanel" aria-labelledby="profile-tab"><br><br><h1>Exercise 1</h1>
<ol>
<li>Create a variable called <strong>name</strong>, and give it your name as a value (text)</li>
<li>Create a variable called <strong>age</strong>, and give it your age as a value (number)</li>
<li>Create a variable called <strong>shoe_size</strong>, and give it your shoe size as a value</li>
<li>Create a variable called <strong>info</strong>. Its value should be an interesting sentence about yourself, including your name, age, and shoe size. Use the variables you created earlier.</li>
<li>Write code so that when your script is run, the info message is prompt on the screen.
   Run your code</li>
</ol></div>
		</div>
			  	 
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>



