<!DOCTYPE html>
<html>
  	<head>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	    <meta charset="UTF-8">
	    <title>Python: Lesson 1</title>
		<link rel="stylesheet" href="/static/style.css">
		<style>
			#nav_link:hover{
				color:blue;
			}
		</style>
  	</head>
	<body>
	 	<div class="jumbotron jumbotron-fluid">
		  <div class="container">
			  <h1 style="color:black;" class="display-4 name">Day 1 - Starting with Python</h1>
			  <p style="color:black; font-size:25px;	font-weight:200px; padding-top:40px" class="lead details">In this section we'll go over Python's most basic elements: numeric types, strings, variables, booleans and conditional statements.</p>
		  </div>
		</div>
		<div class="container" >
			<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <a style="font-size:25px;color:gray;" class="nav-link active" data-toggle="tab" href="#in_this_chapter" onMouseOver="this.style.color='blue'"
   				onMouseOut="this.style.color='gray'" >In This Chapter</a>
			  </li>
			  <li class="nav-item">
			    <a style="font-size:25px;color:gray;" class="nav-link" data-toggle="tab" href="#exercises" onMouseOver="this.style.color='blue'"
   				onMouseOut="this.style.color='gray'">Exercises</a>
			  </li>
			</ul>
		<div class="tab-content" id="myTabContent">
		  <div class="tab-pane fade show active" id="in_this_chapter" role="tabpanel" aria-labelledby="home-tab"><br><br>{{chapter_text}}</div>
		  <div class="tab-pane fade" id="exercises" role="tabpanel" aria-labelledby="profile-tab"><br><br>{{exercise_text}}</div>
		</div>
			  	 
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>



