{% include '/partials/header.html' %}
{% include '/partials/navbar.html' %}
<div class="container" style="margin_bottom:25px">
    <h1 style="margin-top:25px">Enter New User Information:</h1><hr>
    <form class="form" role="form" action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{form.name.label}}
            {{ form.name(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.email.label}}
            {{ form.email(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.password.label}}
            {{ form.password(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.confirm.label}}
            {{ form.confirm(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.role.label}}
            {{ form.role(class="form-control")}}
        </div>
        {{ form.submit() }}

    </form>
</div>

{% include '/partials/footer.html' %}