<!DOCTYPE html>
<html>
  	<head>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	    <meta charset="UTF-8">
	    <title>Sharon's Shop</title>
		<link rel="stylesheet" href="C:/BootCamp/di_exercise/week_11/day_3/mini_project/static/style.css">
		<style>

		</style>
  	</head>
    <body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
     {% for message in messages %}
        {{ message }}<br>
     {% endfor %}
  {% endif %}
{% endwith %}

  <div class="container" style="display:flex;flex-wrap:wrap;">
{% for user in users %}

 <form action="{{url_for('view_user')}}" method="POST">
     <div class="container">
          <div class="form-group">
            <label>User ID:</label>
            <input class="form-control" name="id" value={{user['id']}} placeholder="{{user['id']}}" readonly>

          </div>
          <div class="form-group">
            <label>First Name:</label>
            <input class="form-control" name="first_name" value={{user['first_name']}} placeholder="{{user['first_name']}}" readonly">
          </div>

            <div class="form-group">
            <label>Last Name:</label>
            <input  class="form-control" name="last_name" value={{user['last_name']}} placeholder="{{user['last_name']}}" readonly>
          </div>

          <div class="form-group">
            <label>Favorite Color:</label>
            <input  class="form-control" name="favorite_color" value={{user['favorite_color']}} placeholder="{{user['favorite_color']}}" readonly>
          </div>

          <button class="btn btn-primary" style="text-align:center;" type="submit" name="submit_details">View This User</button> <br><br>
     </div>
</form>
{% endfor %}
      </div>



    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>