{% extends "base.html" %}

{% block content %}
  <div class="container" style="display:flex;flex-wrap:wrap;">
{% for order in all_orders %}

      <div class="card" style="width:18rem;height:30rem;margin:10px;">

          <div class="card-body" style="height:200px;">
            <h5 class="card-title" >Order Id: {{order['order_id']}}</h5>
            <h5 class="card-title" >City: {{order['city']}}</h5>
            {% for item in order['shoes'] %}
              <h5 class="card-title" >Shoe ID: {{item['id']}}<br> Number of Shoes:{{item['amount']}}</h5>
            {% endfor %}

           <h2>Total: {{order['total']}}</h2>
          </div>
      </div>

{% endfor %}


</div>

        <form action="{{url_for('homepage')}}" method="POST">
        <div class="container">
            <button class="btn btn-primary" type="submit">Return to Homepage</button> <br><br>
        </div>
        </form>
{% endblock content %}